{
  "ConnectionStrings": {
    "DefaultDatabase": "Server=127.0.0.1;Port=5432;Database=test;User Id=test;Password=test;"
  },
  "AES": {
    "Key": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
  },
  "Authentication": {
    "JwtKey": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
    "JwtExpireDays": 0,
    "JwtIssuer": "test.com",
    "RefreshTokenExpireDays": 0
  }
}